body {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 70px;
}

#section {
    border: 2px solid grey;
    padding: 10px;
}

#section p {
    display: inline-block;
    padding: 20px;
    width: 150px;
    margin: 10px;
}

p.color {
    font-family: Roboto, Helvetica, Arial, sans-serif; 
}

#vividOrange {
    border: 2px solid #fc4b06;
    background-color: #fc4b06;
    color: black;
}

/* #fc4b06 */

#darkGray {
    border: 2px solid #667986;
    background-color: #667986;
    color: white;
}